@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Rancho&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-rancho {
    font-family: "Rancho", cursive;
}
.font-raleway {
    font-family: "Raleway", sans-serif;
}
